@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        @*<li>
            @Html.ActionLink($"Dobrodosao {User.Identity.GetUserName()}!", 
                "Index", "Manage", routeValues: null, 
                htmlAttributes: new { title = "Manage", @class = "nav-link" })
        </li>
        <li><a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Izloguj se</a></li>*@
        
        <li class="nav-item dropdown">
            @Html.ActionLink($"Dobrodosao {User.Identity.GetUserName()}!", "Index", "Manage", null,
                new Dictionary<string, object> {
                    { "class", "nav-link dropdown-toggle" },
                    { "id", "navbarDropdown" },
                    { "role", "button"},
                    { "data-toggle", "dropdown"},
                    { "aria-haspopup", "true"},
                    { "aria-expanded", "false"}
                })
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                @Html.ActionLink("Profil", "Profile", "Manage", routeValues: null, htmlAttributes: new { @class = "dropdown-item" })
                @Html.ActionLink("Profil", "Profile", "Manage", routeValues: null, htmlAttributes: new { @class = "dropdown-item" })
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">Izloguj se</a>
            </div>
        </li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Registracija", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</li>
    </ul>
}
