@model SmartTaxi.Web.Models.VehicleViewModel

@{
    ViewBag.Title = "title";
}

<h2>Add new vehicle</h2>


@using (Html.BeginForm("NewVehicle", "Vehicle", FormMethod.Post))
{
   <div class="form-group">
        @Html.LabelFor(model => model.Year)
        @Html.TextBoxFor(model => model.Year, new { @class = "form-control" })
       
        @Html.ValidationMessageFor(model => model.Year)
       
    </div>
   <div class="form-group">
       @Html.LabelFor(model => model.RegistrationNumber)
       @Html.TextBoxFor(model => model.RegistrationNumber, new { @class = "form-control" })
       
       @Html.ValidationMessageFor(model => model.RegistrationNumber)
       
   </div>

    <button type="submit" class="btn btn-primary">Submit</button>
}

