@model SmartTaxi.Web.Domain.Location

<h2 class="text-center p-4">Vasa trenutna lokacija: </h2>
<hr />
<div class="row m-4">
    <div class="col-md-6 offset-md-3">
    @using (Html.BeginForm("SaveDriverLocation", "Driver", FormMethod.Post))
    {
        <div class="driver-location mb-3">
            <div class="form-row">
                <div class="form-group col-md-8">
                    @Html.LabelFor(model => model.Address.Street)
                    @Html.TextBoxFor(model => model.Address.Street, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Address.Street)
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.Address.Number)
                    @Html.TextBoxFor(model => model.Address.Number, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Address.Number)
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-8">
                    @Html.LabelFor(model => model.Address.City)
                    @Html.TextBoxFor(model => model.Address.City, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Address.City)
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.Address.ZipCode)
                    @Html.TextBoxFor(model => model.Address.ZipCode, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Address.ZipCode)
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.Latitude)
                    @Html.TextBoxFor(model => model.Latitude, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Latitude)
                </div>
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.Longitude)
                    @Html.TextBoxFor(model => model.Longitude, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Longitude)
                </div>
            </div>
        </div>
        <button type = "submit" class="btn btn-primary btn-block">Sacuvaj</button>
    }
    </div>
</div>

